body{
    background-color: #EEEEEE;
    font-family: "Open Sans", sans-serif;;
}

.navbar:hover{
   font-weight: bolder; 
   color: #070707;
   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);    
   
}

a:link{
    text-decoration: none;
}

a:visited{
    color: #070707;
    
}


.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

}

.navbar-menu{
    display: flex;    
    gap: 40px;
    list-style: none;
}

.about-me{
    
    text-align: center;
    width: 800px;
    margin: auto;
    margin-bottom: 50px;   
    
}


h1{
    text-align: start;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
}

h2{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
}

.div-heading{
    margin-bottom: 40px;
}


.profile-photo{
    width: 800px;
    margin-bottom: 30px;  
        
}

.about-me-text{
    display: flex;
    justify-content: space-between;
    flex-direction: column;    
    margin: auto;
       
}

.skills-block{
    text-align: center;
    width: 800px;
    margin: 0 auto;
    margin-bottom: 90px;     

}

.skills-block-parapraph{
    margin-bottom: 60px;
}

.skills-list{
    display: flex;
    flex-direction: row-reverse;
    margin: 0 auto; 
    gap: 50px;
    list-style: none;
    
}

.portfolio{
    text-align: center;
    margin-bottom: 40px;
}

.portfolio-pic{
    width: 800px;
    margin-bottom: 17px;    
}

.portfolio-parapraph{
    margin-bottom: 60px;
}

.footer-container{
    text-align: center;
    height: 400px;
}

.btn{
    font-family: ;
    background-color: #070707;
    color: white;
    width: 180px;
    height: 44px;
    border-radius: 22px;
    padding: 0px, 16px, 0px, 16px;
    margin-bottom: 25px;
}

.btn:hover {opacity: 0.5;
    transform: scale(1.05);
}

.social-links{
    margin-bottom: 60px;
}

.social-links:hover {
    opacity: 0.5;
    transform: scale(1.05);
}

.like-me-parapraph{
    font-size: 14px;
    color: #828282;
}