body{
    background-color: white;
    font-family: "Open Sans", sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.navbar:hover{
   font-weight: bolder; 
   color: #070707;
   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);    
   
}

a:link{
    text-decoration: none;
}

a:visited{
    color: #070707;
    
}


.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

}

.navbar-menu{
    display: flex;    
    gap: 40px;
    list-style: none;
}

.overall-container{
    max-width: 1440px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.about-me{
    
    text-align: center;
    max-width: 60.62rem;
    width: 100%;
    margin: auto;
    margin-bottom: 0; 
    
    
    }  
    

.about-me h1{
    
    text-align: start;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
}


.about-me-text{
    
    background-color: #F6F6F6;
    padding: 6.25rem;
}



h2{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
}




/*.profile-photo{
    max-width: 800px;
    width: 100%;
    margin-bottom: 0; 
        
}*/

.about-me-text{
    display: flex;
    justify-content: space-between;
    flex-direction: column;    
    
       
}

.skills-block{
   margin: 0 auto;
    text-align: center;    
    margin: 0 auto;
    margin-bottom: 90px;     

}

.skills-block-parapraph{
    margin-bottom: 60px;
}

.skills-list{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    margin: 0 auto; 
    gap: 50px;
    list-style: none;
    
}

.portfolio{
    text-align: center;
    margin-bottom: 40px;
    background-color: #F6F6F6;
    padding: 30px;
}

.image-wrapper {
    width: 100%;
    
    position: relative;
    padding-bottom: 40%; /* 1:1 Aspect Ratio */
}

.profile-photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the container */
    
}

.portfolio-pic{
    max-width: 800px;
    width: 100%;
    margin-bottom: 17px;    
}

.portfolio-parapraph{
    margin-bottom: 60px;
}

.footer-container{
    text-align: center;
    height: 400px;
}

.btn{
    font-family: ;
    background-color: #070707;
    color: white;
    width: 180px;
    height: 44px;
    border-radius: 22px;
    padding: 0px, 16px, 0px, 16px;
    margin-bottom: 25px;
}

.btn:hover {opacity: 0.5;
    transform: scale(1.05);
}

.social-links{
    margin-bottom: 60px;
}

.social-links:hover {
    opacity: 0.5;
    transform: scale(1.05);
}

.like-me-parapraph{
    font-size: 14px;
    color: #828282;
}